BR2_arm=y
BR2_ARM_ENABLE_VFP=y
BR2_ARM_EABI=y
BR2_ARM_SOFT_FLOAT=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://sources.buildroot.net/toolchain-external-codesourcery-arm/arm-2014.05-29-arm-none-linux-gnueabi-i686-pc-linux-gnu.tar.bz2"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-none-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_GCC_4_8=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_13=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_CCACHE=y
BR2_OPTIMIZE_3=y
BR2_TARGET_GENERIC_HOSTNAME="leapster"
BR2_TARGET_GENERIC_ISSUE="Welcome to Retroleap"
BR2_INIT_NONE=y
BR2_ROOTFS_OVERLAY="board/retroleap/leapfrog/lfx000/fsoverlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/retroleap/leapfrog/lfx000/generate_menuitems.py"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/mac2612/lf3000_kernel.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="v3.4.39_rl6"
BR2_LINUX_KERNEL_DEFCONFIG="retroleap_lf3000"
BR2_LINUX_KERNEL_UIMAGE=y
# BR2_TARGET_ROOTFS_TAR is not set
